/*#raw_impacts div.zoomwin div + div {
    overflow-y: scroll;
    height: 592px;
}
*/

#raw_impacts table td {
    padding: 3px 1px;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-collapse: collapse;
}

#raw_impacts table {
    margin-top: 5px;
}

#raw_impacts tr:nth-child(even) {
    background-color: #d9e1e9;
}

#raw_impacts table th {
    background-color: #475D81;
    color: #FFFFFF;
    padding: 3px 1px;
}

#raw_impacts table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 8px;
}

#raw_impacts table td, #raw_impacts table th {
}

div.legend {
    text-align: center;
}

/*
#impacts div.summary table td {
    padding: 0px;
    margin: 0px;
}
*/

div.impacticon {
    padding-left: 5px;
    padding-right: 5px;
}

div.zoomwin div.impactsrulestable {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

div.impactsrulestable table td {
    padding-left: 2px;
    padding-right: 2px;
}

div.categorytext {
    padding: 10px;
}

table.impactstable img {
    border: none;
}

table.impactstable tr.category:nth-child(even), table.impactstable tr.sector:nth-child(even) {
    background-color: #d9e1e9;
}

#sectortable {
    display: none;
}

#categorytable {
    display: block;
}

#sectortable  td, #categorytable  td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 10px;
}

#sectortable  td + td, #categorytable  td + td {
    padding: 2px;
    text-align: center;
}

#sectortable  td + td a:hover, #categorytable  td + td a:hover {
    text-decoration: none;
}

#sectortable  td span, #categorytable  td span {
    vertical-align: 40%;
}

/*
 tr.sector td + td,  tr.category td + td {
    vertical-align: 40%;
}
*/

div.categorytext h3 span {
    vertical-align: 40%;
}
div.zoomwin h2 span {
    vertical-align: 40%;
}

.smallmap {
    width: 367px;
    height: 317px;
    border: 1px solid #ccc;
}

div.olMapViewport {
    background-image: url( /tools/img/water.jpg );
}
#slider-id {
    width: 367px;
    margin: 10px;
}

* { margin: 0; padding: 0; }

#content ul, #content ol { margin-left: 0; padding-left: 1.7em; }

.warningtext {
    font-weight: bolder;
    color: #FF0000;
}

/*
#references p {
    line-height: 110%;
    padding-bottom: 0.8em;
    font-size: 9pt;
}
*/

a:link, a:visited { 
    text-decoration: none;
    color: #0c4e6c;
}
a:hover, a:active { 
    text-decoration: underline;
    color: #68a0ba; 
}

.indent { margin-left: 15px; }

.tooltipped { text-decoration: none; border-bottom: 1px dotted #505050; }

.superscript { vertical-align: top; font-size: smaller; }
.subscript { vertical-align: bottom; font-size: 60%; }

.hidden { display: none; }
.visible { display: inline; }

/* TODO clean up */
#settings h3 {
color: #093;
}

#content h3 {
font-size: 13px;
}

body {
overflow: auto;
padding-top: 10px;
background-color: white;
padding: 0px;
font-size: 11px;
color: #505050;
font-family: verdana, arial, sans-serif;
text-align: center;
}

#centre {
width: 900px;

margin: 0 auto;
padding: 10px 0px;

text-align: left;
}

#title-left { /* need to set up size */ float: left; }

#title-right { /* need to set up size */ float: right; }

#title-left *, #title-right * {
border: 0;
}


#navbarcontainer {
clear: both;

/* height: 28px; */
padding-right: 40px;
vertical-align: middle;
}

#navbar li {
float: right;
margin: 5px;
/*margin-top: 6px;
margin-bottom: 6px;
margin-right: 6px;
margin-left: 6px; */
list-style-type: none;
font-size: 12px;
color: black;
}

/*  replaced with blanket a: behaviours above
#navbar li a:link, a:visited { text-decoration: none; }
#navbar li a:hover { text-decoration: underline; }
*/

#mainbox {
clear: both;

/* padding? */
}

#sidetabs {
float: left;
width: 121px;
margin-top: 25px;
}

#sidetabs li {
display: block;
list-style-type: none;
margin-bottom: 3px;

color: white;

font-size: 12px;
/*font-weight: bold;*/
height: 26px;
padding-left: 14px;
padding-top: 9px;
}

#sidetabs li.inactive:hover {
background-color: #00A42E;
}

#sidetabs li.tab_last_in_group {
margin-bottom: 14px;
}

#sidetabs li.active { background: #00A42E url(/tools/img/tabmask.png) no-repeat scroll left top; }
#sidetabs li.inactive { background: #00364A url(/tools/img/tabmask.png) no-repeat scroll left top;
                        margin-right: 1px; cursor: pointer; }

#tabbedbox {  /* VISIBLE BORDER */
margin-left: 121px;  /* navigation */

width: 777px;

border: 1px solid #00A42E;  /* overridden by JS later */

min-height: 550px;

background-color: white;

position: relative;
}

/* redundant now
#innertabs.visible { display: inline; }
#innertabs.hidden  { display: none;   }
*/

#innertabs div {
float: left;
margin: 1px 0px 0px 1px;
width: 387px;
padding-top: 5px;
padding-bottom: 5px;
text-align: center;
font-size: 16px;
font-weight: 600;
cursor: pointer;
}

#innertabs div.active { background-color: #00A42E; color: #FFFFFF; }
#innertabs div.inactive { background-color: #00364A; color: #909090; }


#content { /* where stuff goes within the tabbed box, below the upper toggle */
/* position: absolute;
   top: 30px; */
padding: 8px 25px 0px 25px;  /* FIXME these should probably be in #content > div, instead. */
}

#content div.heading {
text-align: center;
width: 100%;
margin-bottom: /*25px*/ 15px;
}

div.summary {
margin: 10px;
/* text-align: right; */
}

/* perhaps do most of this for -all- tables */
div.summary > table {
width: 100%;
border-collapse: collapse;
border: 1px solid black;
margin-bottom: 8px;
}

div.summary > table td, div.summary > table th {
text-align: left;
border-width: 1px;
border-style: solid;
border-color: #C0C0C0;
padding: 7px 10px 7px 10px; /* TODO make these em */
}

div.summary > table th a {
    color: #FFFFFF;
}

/* including some formatting in these for now.  Should clean that up later as sematics are pretty bad */

div.summary > table tr.ltblue > td, div.summary > table tr.ltblue > th {
text-align: left;
background-color: #D9E1E9;
}

div.summary > table tr.dkblue > td, div.summary > table tr.dkblue > th {
text-align: center;
background-color: #475D81;
color: #FFFFFF;
}

div.summary > table tr.dkerblue > td, div.summary > table tr.dkerblue > th {
font-size: 125%;
font-weight: bold;
text-align: center;
background-color: #001D48;
color: #FFFFFF;
}

#content div.contentcolumn { /* FIXME these are rows now */
display: block;
/* width: 188px; */
width: 100%;

/* margin: 20px 0px 10px 20px; */
margin: 0px 0px 10px 0px;

min-height: 160px; /* FIXME this might be the wrong #; This forces fitting of thumbs */
}

#content div.contentcolumn > div.thumbdiv { /* might want to class this later */ /* FIXME these float left now, no? */
background: #FFFFFF url(/tools/img/loading.gif) no-repeat scroll center center;   /* TODO make a smaller spinner image that works well for both thumbs and zoomed */
display: inline;
float: left;
width: 188px;
height: 160px;
cursor: pointer;
margin-right: 10px;
}

/* note that these are separate divs, not states, which eliminates
 * the need for caption visibility, fixed spacing/nested divs, etc.
 */
#content div.bg { /* background-gray-out wrapper */
position:fixed;
left:0px;
top:0px;
width:100%;
height:100%;
background: #282828;
/* filter:alpha(Opacity=60); IE6, removed */
opacity:0.6;
-moz-opacity:0.6;
-khtml-opacity:0.6;
}

#content div.zoomable {  display: none; }  /* invisible control container */
#content div.zoomed { }

#content div.zoomed_impact div.zoomwin div + div {
    overflow-y: scroll;
    height: 592px;
}

/* internal div providing zoomed content */
#content div.zoomwin {
/*min-width: 960px;*/
width: 900px;
min-height: 592px;
padding: 25px 0px 0px 0px;
border: 1px solid black;
background-color: white;
position: fixed;
top: 50%;
left: 50%;
margin-top: -309px;
margin-left: -451px;
/* margin-left: auto; */
/* margin-right: auto; */

text-align: center;
}

#content div.zoomwin div.closebutton {
cursor: pointer;


position: absolute;

top: 0px;
right: 0px;


width: 890px;
border: 0px solid white;
padding: 0px 5px 2px 5px;


text-align: right;
/* background-color: #00A42E; */
background-color: #00364A;

color: white;
font-weight: bold;
}

#content div.zoomwin div.closebutton span {
font-size: 120%;
}

#content div.zoomwin td {
overflow: hidden;  /* hack! */
vertical-align: top;
text-align: left;
}
#content div.zoomwin table.maptable {
table-layout: fixed;
margin-left: 20px;
}
#content div.zoomwin table.maptable div.olMap {
/*overflow: hidden;*/
max-height: 410px;  /* hack!  also possibly change this to height? */
max-width: 395px;
height: 410px;
border: 1px solid black;
}

img.map {
margin-left: -20px;
width: 422px;
height: 447px;
}
img.stickplot {
margin-left: -5px;
width: 87px;
height: 485px;
}

div.zoomimg_scatter {
overflow: hidden;
height: 500px;
width: 480px;
}

img.scatterplot {
width: 480px;
height: 520px;
}

#content div.zoomwin p {
margin: 15px 15px 15px 8px;
}

#content div.zoomwin p {
margin-left: 15px;
margin-right: 15px;
}

div#settings input[type=radio] {
margin-right: 6px;
}

#footer {
margin-top: 5px;
margin-left: auto;
margin-right: auto;
width: 900px;
padding: 3px 0px;
background-color: white;
text-align: center;
}

h1 {
color: #505050;
font-size: 16px;
}

/*a:link {
color: #7D575D;
background: transparent;
}

a:visited a:hover {
color: #FFFFFF;
background: black;
} */

#notes ol li {
    margin-bottom: 10px;
}

div#whiteout { /* background-gray-out wrapper */
position:fixed;
left:0px;
top:0px;
width:100%;
height:100%;
background: #FFFFFF;
/* filter:alpha(Opacity=60); IE6, removed */
opacity:0.6;
-moz-opacity:0.6;
-khtml-opacity:0.6;
}

table.featureInfo, table.featureInfo td, table.featureInfo th {
    border:1px solid #4297D7;
    border-collapse:collapse;
    margin:0;
    padding:0;
    font-size: 90%;
    padding:.2em .1em;
}

table.featureInfo th {
    padding:.2em .2em;
    font-weight:bold;
    background:#4297D7;
}

table.featureInfo td{
    background:#fff;
}

table.featureInfo tr.odd td{
    background:#eee;
}

table.featureInfo caption{
    text-align:left;
    font-size:100%;
    font-weight:bold;
    text-transform:uppercase;
    padding:.2em .2em;
}

div.olPopup {
    -moz-border-radius: 1em 0 0 0;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 3px 3px 5px #888;
    -webkit-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #888;
}


div.olPopupContent {
    padding:5px;
    overflow: auto;
    padding-bottom:0px;
}


.olControlOpacitySliderContainer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.olControlOpacitySliderElement {
    padding: 10px 18px 10px 10px;
    background-color: #000080;
    opacity:0.75;
    -moz-border-radius: 1em 0 0 0;
    -webkit-border-top-left-radius: 10px;
    -khtml-border-radius-topleft: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;

}

.olControlOpacitySliderMinimizeButton {
    right: 0;
    bottom: 32px;
    cursor: pointer;
}

.olControlOpacitySliderMaximizeButton {
    right: 0;
    bottom: 32px;
    cursor: pointer;
}

.opacitySliderText {
    padding-bottom:8px;
    color:white;
}
.olControlLayerSwitcher {
    position: absolute;
    top: 10px;
    right: 0;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}
.olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 75px;
    background-color: #000080;
    width: 100%;
    height: 100%;
}

.olControlLayerSwitcher .layersDiv .baseLbl,
.olControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv,
.olControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 10px;
}

.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .minimizeDiv {
    top: 5px;
    right: 0;
    cursor: pointer;
}

